# Игнорировать папку node_modules (если используете npm/yarn)
node_modules/

# Игнорировать файл .env (если используете переменные окружения)
.env

# Игнорировать логи npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать папку dist (если собираете проект)
dist/

# Игнорировать временные файлы macOS
.DS_Store

# Игнорировать папку .vscode (если используете VS Code)
.vscode/

# Игнорировать папку coverage (если используете тесты и инструменты для покрытия кода)
coverage/