body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

.title {
  text-align: center;
  font-size: 30px;
  color: white;
}

canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
